<div class="list-groups">
  <table class="table-cv list-group-table">
    <thead>
      <tr>
        {% for content in entry.contents %}
          <!-- Display each category in a separate column -->
          <th class="list-group-category">{{ content.category }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% assign max_items = 0 %}
      <!-- Find the maximum number of items across all categories -->
      {% for content in entry.contents %}
        {% if content.items.size > max_items %}
          {% assign max_items = content.items.size %}
        {% endif %}
      {% endfor %}

      <!-- Iterate row by row based on the maximum number of items -->
      {% for index in (0..max_items) %}
        <tr>
          {% for content in entry.contents %}
            <td>
              {% if content.items[index] %}
                <td></td>
                {{ content.items[index].name }}
                {% if content.items[index].level %}
                  <span class="list-group-level">({{ content.items[index].level }})</span>
                {% endif %}
                {% if content.items[index].school %}
                  <br>{{ content.items[index].school }}
                {% endif %}
                {% if content.items[index].time %}
                  <br>{{ content.items[index].time }}
                {% endif %}
                {% if content.items[index].link %}
                  <br>
                  <a href="{{ content.items[index].link }}" target="_blank">{{ content.items[index].linkname | default: "DOC" }}</a>
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
